# NextGen RO-root SD test image.
#
# p1: boot FAT
# p2: immutable SquashFS system
# p3: persistent ext4 state/Application images
# p4: recording/data ext4 seed (full-card writer expands this to the card end)

image sdcard.img {
    hdimage {
    }

    partition boot {
        partition-type = 0x0c
        bootable = "true"
        image = "boot.vfat"
        offset = 1M
        align = 1M
    }

    partition system {
        partition-type = 0x83
        image = "rootfs.squashfs"
        align = 1M
    }

    partition persist {
        partition-type = 0x83
        image = "persist.ext4"
        align = 1M
    }

    partition data {
        partition-type = 0x83
        image = "data.ext4"
        align = 1M
    }
}
